$radius: 15px;


* { margin: 0; padding: 0; box-sizing: border-box; }
body { background-color: #a1a1a1; }

.game {
    width: 800px;
    padding: 0 50px;
    margin: auto;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }
}

.playground {
    
    .progress {
        width: 100%;
        padding: 10px 20px 20px;

        background: linear-gradient(to bottom, #0a264a, #103d79);
        color: white;
        border-radius: 0 0 $radius $radius;

        text-align: center;
        font-size: 24px;

        &-line {
            width: 100%;
            height: 30px;
            margin-top: 5px;

            border-radius: $radius;
            background: linear-gradient(to bottom, #000f24, #032655);
            box-shadow: 0 1px 3px  #3186f9; 
        }

        &-value {
            width: 0%;
            height: 100%;
            border-radius: $radius;
            background: linear-gradient(to bottom,
                #ecffcc 0%, 
                #a2ff00 23%, 
                #1d9b00 68%,
                #60ff00 99%
            );

            transition: width 800ms;
            transition-delay: 400ms;

        }
    }

    .field {
        position: relative;

        margin-top: 40px;
        padding: 20px 25px;
        
        
        background-color: #81c1d0;
        border-radius: $radius * 3;
        box-shadow: inset 0 0 4px white,
                    0 -3px 0 -2px white,
                    0 3px 0 -2px white;
        
        
        // inset 0 0 5px 9px rgb(128, 192, 207);

        &:before {
            content: '';

            position: absolute;
            top: 15px; bottom: 15px; left: 15px; right: 15px;
            
            border-radius: $radius * 2;
            background-color: #0d233d;
            box-shadow: 
                inset 0 0 10px 5px #173e79,
                0 0 20px 2px #3d6070;

            z-index: 1;
        }

        canvas {
            position: relative;
            z-index: 2;
        }
    }
}

.info {
    padding-left: 40px;

    .stats {
        position: relative;

        width: 250px;
        padding: 10px 30px;

        background: #70f6ff;

        border-radius: $radius * 2;

        &:before {
            content: '';

            position: absolute;
            top: 5px; bottom: 5px;
            left: 5px; right: 5px;
            border-radius: $radius * 1.5;

            background: #20549a;

            z-index: 0;
        }

    }

    .step {
        width: 180px;
        height: 180px;
        margin: auto;

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        background: url(../images/ball.png) center / contain no-repeat;
    }

    .points {
        position: relative;
        margin: 15px 0;
        padding: 5px 15px;

        color: white;
        background: #0b264c;

        border-radius: $radius;

        text-align: center;

        span {
            display: block;
        }

        .count {
            font-size: 1.6em;
        }
    }

    .bonuses {
        
    }
}
