$backgroundColor: #a1a1a1;
$labelHeight: 30px;

$radius: 15px;
$bigRadius: 24px;

$outerShadow: 0 0 50px 3px rgba(21, 46, 79, 0.3);


$blueGradient: linear-gradient(to bottom, #0a264a, #103d79);
$violetGradient: linear-gradient(to bottom, 
    #dc57f8 0%, #9310b5 54%, #580673 81%, #7517f4 100%);
$darkBlueGradient: linear-gradient(to bottom, #000f24, #032655);
$greenGradient: linear-gradient(to bottom,
    #ecffcc 0%,  #a2ff00 23%, #1d9b00 68%,#60ff00 99%);
$grayGradient: linear-gradient(to bottom,
    #eee 0%, #bbb 54%, #555 81%, #888 100%);


@mixin grayCircle($size) {
    display: inline-block;
    width: $size;
    height: $size;

    vertical-align: middle;

    border-radius: 50%;
    background-color: #b4b4b4;
}

@mixin label() {
    display: inline-flex;
    align-items: center;
    position: relative;

    height: $labelHeight;
    padding: 0 30px 0 50px;

    border-radius: $labelHeight / 2;

    font-size: 16px;

    background: 
        url(../images/gleam.png) right top no-repeat, 
        $violetGradient;
    color: white;

    &:before {
        @include grayCircle($labelHeight);

        content: '';
        position: absolute;
        left: -5px;
    }
}

@mixin border($bg) {
    position: relative;

    padding: 10px 14px;
    
    background-color: #98efff;
    border-radius: $bigRadius;
    box-shadow: inset 0 0 4px #8dffff,
                $outerShadow,
                0 -3px 0 -2px white,
                0 3px 0 -2px white;

    & > * {
        position: relative;
    }

    &:before {
        content: '';

        position: absolute;
        top: 5px; bottom: 5px; left: 5px; right: 5px;
        
        border-radius: inherit;
        background-color: $bg;
        box-shadow: 
            inset 0 0 4px 1px #2177ef,
            inset 0 0 8px 1px #20569e,
            0 0 10px 0 black;

        z-index: 0;
    }
}


* { margin: 0; padding: 0; box-sizing: border-box; }
body { 
    text-align: center;
}

.bg {
    width: 100%;
    min-height: 100vh;

    background: $blueGradient;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

/* vue animation */
    .fade-enter-active, .fade-leave-active {
        transition: opacity 1s;
    }
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }

/* grid */
    .container {
        display: inline-block;
        min-width: 900px;
        padding: 0 20px;
        margin: auto;
    }

    .row {
        display: flex;
        justify-content: flex-end;
    }

    .col {
        flex-shrink: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0 10px;

        &_bonuses {
            width: 100px;
        }

        &_playground {
            flex-grow: 1;
            max-width: 450px;
        }

        &_info {
            width: 250px;
        }
    }
/* end grid */

.heading {
    font-size: 20px;
    margin-bottom: 5px;
}

.label {
    @include label;
}


.bonuses {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .bonus {
        width: 90px;
        padding: 5px;
        margin: 10px 0;

        border-radius: $radius;
        background: $violetGradient;
        border: 4px solid #d85fef;
        box-shadow: inset 0 12px 12px rgba(255, 255, 255, 0.4);

        cursor: pointer;
        transition: background 400ms;

        &-icon {
            width: 50px;
            height: 50px;
            margin: auto;

            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        &[data-bonus="bomb"] {
            .bonus-icon {
                background-image: url(../images/bonus-bomb.png);
            }
        }

        &[data-bonus="mix"] {
            .bonus-icon {
                background-image: url(../images/bonus-mix.png);
            }
        }

        &-count {
            width: 100%;
            height: 24px;
            margin-top: 10px;

            border-radius: 12px;

            font-size: 16px;

            background: linear-gradient(to bottom, #30004e, #4d055d);
            box-shadow: 
                0px 0px 4px 4px #9c09b4;

            transition: background 400ms;

            &:after {
                content: '';
                @include grayCircle(15px);
                margin-left: 5px;
            }
        }

        &.inactive {
            background: $grayGradient;
            border-color: #eee;

            .bonus-count {
                background: linear-gradient(to bottom, #555, #888);
                box-shadow: none;
            }
        }
    }
}


.progress {
    padding: 0 14px;

    &-line {
        width: 100%;
        height: $labelHeight;

        border-radius: $labelHeight / 2;
        background: $darkBlueGradient;
        box-shadow: 0 1px 3px  #3186f9; 
    }

    &-value {
        width: 0%;
        height: 100%;
        border-radius: $radius;
        background: $greenGradient;

        transition: width 800ms;
        transition-delay: 400ms;
    }
}


.field {
    @include border(#0d233d);

    display: inline-block;

    &[data-bonus="bomb"] canvas:hover {
        cursor: url(../images/bomb.png), auto;
    }
}

.info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stats {
    position: relative;

    width: 250px;

    @include border(#20549a);
    padding-left: 30px;
    padding-right: 30px;
    
    .active {
        color: #60ff00;
    }
}

.step {
    width: 180px;
    height: 180px;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    font-size: 70px;
    color: white;

    background: url(../images/ball.png) center / contain no-repeat;
}

.points {
    position: relative;
    margin: 15px 0;
    padding: 5px 15px;

    color: white;
    background: $blueGradient;

    border-radius: $radius;

    text-align: center;

    span {
        display: block;
    }

    .count {
        font-size: 1.6em;
    }
}







.finish {
    position: absolute;
    top: 5px; bottom: 5px;
    left: 5px; right: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #173e79;
    box-shadow: $outerShadow;
    color: white;
    border-radius: $bigRadius;

    font-size: 40px;
    text-align: center;

    z-index: 2;

    &-buttons {
      display: flex;
      flex-direction: column;
      margin-top: 30px;

      text-align: center;
    }

    button {
      margin: 10px 0;
      height: 40px;
      padding: 5px 15px;

      font-size: 16px;
      font-family: inherit;

      background: linear-gradient(to bottom,
          #ecffcc 0%, 
          #a2ff00 23%, 
          #1d9b00 68%,
          #60ff00 99%
      );;
      color: inherit;
      border-radius: 10px;
      
      outline: none;
      box-shadow: none;
      border: none;
    }
}